@model MyProject.Models.Members

@{
    ViewBag.Title = "編輯會員資料";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2 class="mt-4">編輯會員資料</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MemberID)

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="Text1" type="text" value="@Model.Email" class="form-control col-12"  readonly name="Email"/>
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.Gender, "True")
            <span style="font-size:12pt">男</span>
            @Html.RadioButtonFor(model => model.Gender, "False")
            <span style="font-size:12pt">女</span>
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" , } })
            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
        </div>
    </div>



    @*密碼欄位不得由管理員修改*@
    <input id="HiddenMem" type="hidden" name="Password" value="@Model.Password" readonly />


    <div class="form-group mt-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="儲存" class="btn btn-success" />
            @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-secondary " })
        </div>

    </div>
</div>
}


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
