@model IEnumerable<MyProject.Models.Members>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>會員管理列表</h2>

<p>
    
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>資料管理</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.Gender?"男":"女")
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.DateOfBirth)*@
                @DateTime.Parse(item.DateOfBirth.ToString()).ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.MemberID }, new { @class = "btn-primary btn-sm mr-2" })
                
                @*@Html.ActionLink("詳細", "Details", new { id = item.MemberID }, new { @class = "btn-secondary btn-sm" })*@
                @*<button type="button" title="@item.MemberID" class="btn btn-success btn-sm btnDetail" data-toggle="modal" data-target="#exampleModal">
            詳細
        </button>*@
            </td>
        </tr>
    }

</table>

