@using PagedList;
@using PagedList.Mvc;

@*@model IEnumerable<MyProject.Models.Restaurants>*@
@model IPagedList<MyProject.Models.Restaurants>


@{
    ViewBag.Title = "餐廳名單";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2 class="mt-4">餐廳名單</h2>

<p class="text-right">
    @Html.ActionLink("新增餐廳", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RestaurantID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OpeningHours)
        </th>
        <th>資料管理</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td> 
                @Html.Raw(item.OpeningHours.ToString().Replace("\n", "<br />"))
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.RestaurantID }, new { @class = "btn-primary btn-sm mr-2" })
                @*@Html.ActionLink("Details", "Details", new { id = item.RestaurantID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RestaurantID })*@
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section scripts{
    <script>
        $('.pagination-container').addClass("d-flex justify-content-center");
        $('.pagination-container>ul>li').addClass("page-item");
        $('.pagination-container a').addClass("page-link");

    </script>
}

