<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 訂位機器人</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            @Html.ActionLink("後台首頁", "Index", "HomeManager", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MynavbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="MynavbarMenu">
                <div class="navbar-nav">
                    @Html.ActionLink("前台首頁", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    @Html.ActionLink("會員名單", "Index", "Members", new { area = "" }, new { @class = "nav-link" })
                    @Html.ActionLink("管理員名單", "Index", "Administrators", new { area = "" }, new { @class = "nav-link" })
                    @Html.ActionLink("會員管理名單", "Index", "Administers", new { area = "" }, new { @class = "nav-link" })
                    @Html.ActionLink("餐廳名單", "Index", "Restaurants", new { area = "" }, new { @class = "nav-link" })
                    @Html.ActionLink("收藏名單", "Index", "FavoriteLists", new { area = "" }, new { @class = "nav-link" })
                    @Html.ActionLink("登出", "Logout", "HomeManager", new { area = "" }, new { @class = "nav-link" })

                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="alert alert-danger text-center">您目前是管理員身分，使用後請登出。</div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)   @*渲染Member裡Index的section，true為必要每個區塊都渲染，false為非必要，有需要再渲染*@

</body>
</html>