@model MyProject.Models.Reserves

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h2 class="mt-4">編輯訂位紀錄</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ReservationID)

<div class="form-group">
    <p class = "control-label col-md-2">會員姓名</p>
    <div class="col-md-10">
        <span class="form-control" readonly>@ViewBag.Name</span>
    </div>
</div>

    <div class="form-group" hidden>
        @Html.LabelFor(model => model.MemberID, "會員編號", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="MemberID" value="@ViewBag.MemberID" class="form-control" readonly />
            @Html.ValidationMessageFor(model => model.MemberID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RestaurantID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.RestaurantID, new { htmlAttributes = new { @class = "form-control" } })*@
            <input id="Text1" type="text" value="@Model.Restaurants.Name" class="form-control col-12" readonly />
            <input id="Text1" type="text" value="@Model.Restaurants.RestaurantID" name="RestaurantID" class="form-control col-12" readonly hidden />
            @Html.ValidationMessageFor(model => model.RestaurantID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Adult, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Adult, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adult, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Child, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Child, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Child, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group mt-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="儲存" class="btn btn-success" />
            @Html.ActionLink("返回列表", "ReservationList", null, new { @class = "btn btn-secondary " })
        </div>
    </div>
</div>
}



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
