@model MyProject.Models.Administers

@{
    ViewBag.Title = "編輯會員權限";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2 class="mt-4">編輯會員權限</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AdministerID)



    <div class="form-group">
        @Html.LabelFor(model => model.MemberID, "會員姓名", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownList("MemberID", null, htmlAttributes: new { @class = "form-control" })*@
            <input id="Text1" type="text" value="@Model.Members.Name" class="form-control col-12" readonly />
            @Html.ValidationMessageFor(model => model.MemberID, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Blocks, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.Blocks, "True")
            <span style="font-size:12pt">是</span>
            @Html.RadioButtonFor(model => model.Blocks, "False")
            <span style="font-size:12pt">否</span>
            @Html.ValidationMessageFor(model => model.Blocks, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AdministratorID, "管理員姓名", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AdministratorID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AdministratorID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="儲存" class="btn btn-success" />
            @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-secondary " })
        </div>
    </div>
</div>
}



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
