@model IEnumerable<MyProject.Models.Administers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Blocks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrators.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Blocks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Administrators.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Members.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdministerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdministerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdministerID })
        </td>
    </tr>
}

</table>
