@model IEnumerable<MyProject.Models.Restaurants>

@{
    ViewBag.Title = "RestaurantList";
}

<h2>餐廳列表</h2>

<div class="row">
    @foreach (var item in Model)
    {


        <div class="card text-center col-4">
            <div class="card-body">
                <h3 class="card-title">
                    <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                </h3>

                <p class="card-text">
                    <h6>@Html.DisplayFor(modelItem => item.Address)</h6>
                    <h6>@Html.DisplayFor(modelItem => item.ContactNumber)</h6>
                    <h6>@Html.DisplayFor(modelItem => item.OpeningHours)</h6>
                    <span>@Html.ActionLink("點我預訂", "Create", "Reserves",null, new { @class = "btn btn-secondary buttonColor" })</span>
                </p>
                
            </div>






        </div>
    }
    </div>
